body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #e7dfd8;
}

@media (min-width: 600px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        color: #8b7d71;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #b7a99e;
        transition: background-color 0.3s;
    }
}

.navbar-title {
    margin: 0;
    color: #654f3a;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #857d7d;
    font-size: 20px;
}

.navbar a.active {
    background-color: grey;
}

a:link,
a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 36px;
    color: #654f3a;
}

p {
    color: #654f3a;
}

.grid-container {
    display: grid;
    grid-template-areas: "header header header" "menu main main";
}

.title-section {
    grid-area: menu;
    width: 25%;
    margin-top: 40px;
    margin-left: 60px;
}

.project-section {
    grid-area: main;
    width: 70%;
    padding: 20px; /* Adjust padding */
    margin-top: 60px;
    background-color: #b7a99e;
    display: flex; /* Change display to flex */
    flex-wrap: wrap; /* Allow project boxes to wrap */
    justify-content: space-between; /* Distribute evenly */
}

.project-box {
    width: calc(33% - 20px); /* Adjust width based on desired number of items per row */
    margin-bottom: 20px; /* Add some space between project boxes */
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.3s;
    color: #654f3a;
}

.project-box img {
    width: 100%;
    height: auto;
    border-radius: 20px; /* Apply border-radius to the image */
}

.project-box:hover {
    transform: scale(1.1);
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #b7a99e;
        color: #8b7d71;
        text-align: center;
        padding: 15px;
    }

    .navbar-title {
        display: none;
    }

    .navbar a {
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s;
    }

    .navbar a:hover {
        background-color: #857d7d;
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
    }

    .title-section,
    .project-section {
        width: 100%;
        background-color: #b7a99e;
        padding: 20px;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 100px;
    }

    .image {
        width: 100%;
        height: auto;
    }
}
